<div class="main-breed">
  <div class="content row">
    <div class="custom-slug">
      <img src="{{ data.image|imagecache_external('breeds') }}" class="img-fluid" alt="{{ data.label }}" />
      <div class="name text-center">{{ data.label }}</div>
    </div>
  </div>
</div>
