<div class="main-breed">
  <div class="content">
    <div class="custom-slug text-center">
      <img src="{{ data.image|imagecache_external('large') }}" class="img-fluid" alt="{{ data.label }}" />
      <div class="name fw-light">{{ data.label }}</div>
    </div>
  </div>
</div>
